* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*** HTML TAGS ***/
body {
  background-color: #ffffff;
}

h1 {
  font-size: clamp(2rem, 1.8154rem + 0.8205vw, 2.8rem);
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  font-size: clamp(1.1rem, 1.0077rem + 0.4103vw, 1.5rem);
  color: #7d7c83;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

img {
  vertical-align: middle;
}

/*** INNER BODY SECTION ***/
.main-content {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
}

.main {
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
  padding-top: 3rem;
}

/*** HOME PAGE ***/
.example-palette {
  display: block;
  margin: 3rem 0;
}

/*** CUSTOM FORM ***/
#image_file {
  margin: auto;
  padding: 10px 0;
}

.custom-form {
  margin-bottom: 3rem;
  width: 80%;
}

.custom-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form button {
  width: 10rem;
}

.user-settings {
  display: flex;
  gap: inherit;
}

.preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.preview-global {
  margin: 1rem auto;
  width: max-content;
  position: relative;
}

.fa-trash-alt {
  position: absolute;
  top: 0;
  right: 0;
}

.flashes {
  color: red;
}

/*** IMG WITH COLOR PALETTE ***/
.result {
  text-align: center;
}

.img-palette-container {
  margin-bottom: 80px;
}

.img-palette {
  border-radius: 10px;
  border: solid thin rgba(0, 0, 0, .2);
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  display: block;
  height: auto;
  margin: 0 auto 20px;
  overflow: hidden;
  width: min(90%, 500px);
}

.resized-img {
  border-bottom: solid thin rgba(0, 0, 0, .2);
  height: auto;
  object-fit: contain;
  width: 100%;
}

.color-palette {
  display: flex;
  height: 50px;
  overflow: hidden;
  width: 100%;
}

.color-place {
  height: 100%;
  width: 50%;
}

/*** TOP 20 INDIVIDUAL COLORS SECTION ***/
.all-colors {
  display: flex;
  margin: 0 auto;
  margin-bottom: 100px;
}

.all-colors p {
  font-weight: 600;
  margin: 0;
  padding: 5px 0;
  text-transform: uppercase;
}

.row {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.color-box {
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  height: 160px;
  margin: 1rem;
  overflow: hidden;
  padding: 0;
  width: 200px;
}

.color-box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.color-header {
  border-bottom: solid thin;
  height: 40px;
  width: 100%;
  position: relative;
}

.color-rank {
  background-color: white;
  border-radius: 100%;
  border: solid thin;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  left: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 40px;
}

.color-body {
  display: flex;
  margin-top: 18px;
}

.color-details {
  margin-left: 30px;
}
